* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d9d9d9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.content {
  width: 100%; /* Adjust width here to control content area */
  max-width: 1100px;
  padding: 20px;
  text-align: center;
}

.news-section {
  display: none; /* Hide sections initially */
  margin-bottom: 40px;
}

.newsItem {
  display: flex; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
  flex-direction: row; 
  border-radius: 1.5rem; 
  border-width: 1px; 
  border-color: #FCA5A5; 
  border-style: solid; 
  background-color: white;
}

.newsContent {
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  margin: auto;
  flex-direction: row; 
  align-items: center; 
}

.newsContent h3 {
  display: flex; 
  font-size: 1.1rem;
  line-height: 1.5rem; 
  font-weight: 700; 
}

.newsContent h4 {
  display: flex; 
  font-size: 0.75rem;
  line-height: 1rem; 
  font-weight: 600; 
}


.buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.videos {
  display: flex;
}

.box {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.box img,
.box iframe {
width: 300px;
height: 250px;
object-fit: cover;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

