* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d9d9d9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.content {
  width: 100%; /* Adjust width here to control content area */
  max-width: 1100px;
  padding: 20px;
  text-align: center;
}

.news-section {
  display: none; /* Hide sections initially */
  margin-bottom: 40px;
}

.newsItem {
  display: flex; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
  flex-direction: row; 
  border-radius: 1.5rem; 
  border-width: 1px; 
  border-color: #FCA5A5; 
  border-style: solid; 
  background-color: white;
}

.newsContent {
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  margin: auto;
  flex-direction: row; 
  align-items: center; 
}

.newsContent h3 {
  display: flex; 
  font-size: 1.1rem;
  line-height: 1.5rem; 
  font-weight: 700; 
}

.newsContent h4 {
  display: flex; 
  font-size: 0.75rem;
  line-height: 1rem; 
  font-weight: 600; 
}


.buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
}

.video {
  flex: 1;
}

.description {
  flex: 1;
  font-family: Arial, sans-serif;
  align-self: center;
}

/* Media Queries for responsiveness */
@media (min-width: 600px) {
  .container {
    flex-direction: row; /* Switch to row layout on larger screens */
  }

  .video,
  .description {
    flex: 1; /* Share space equally on larger screens */
  }

  .description {
    align-self: center; /* Center description vertically */
  }
